*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}

body{
    color:white;
    font-family: 'Helvetica';
}
h1{
    font-size:30px;
    text-align: center;
    margin-top:20px;
}
.country{

    /* border:1px solid black; */
    display:flex;
    align-items: center;
    justify-content: center;
    margin:50px 0;
    /* margin:100px 20%; */
    /* margin-left: 40%; */
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* color:#111827;; */
    
}
form>input{
    width:100px;
    height: 30px;
    border:transparent;
    border-radius: 5px;
    color: white;
    background-color:#111827;
    border:2px solid white;
    padding: 4px 5px;
}
form>button{
    padding: 7px 12px;
    color:white;
    border-radius:5px ;
    background-color: #111827;
    border:2px solid white;

}

.countrygrid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-items: start;
align-items: center;
row-gap:25px;
margin:0 10%;
gap:20px;

}

.countrydetails{
  
    /* height: 280px; */
    /* width:350px; */
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color:#eff6ff;
    color:#120E43;
    padding:12px 7px;
    /* padding: 5px 3px; */

}