/* css reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('weather.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color:#f3f3f3;
}

/* designing the weather app container */
.container {
  /* width: 600px; */
  border: 2px solid #f3f3f3;
  border-radius: 20px;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  padding: 15px;
  box-shadow: 0 0  10px #bfdbfe;
  margin-bottom: 50px;
}

/* designing the search area */


.searchData input {
  border: 1px solid white;
  background-color:black;
  color:#f3f3f3;
  border-radius: 2px;
  padding: 5px;
  margin-right: 5px;
}

.searchData button {
  border: 1px solid white;
  background-color: black;
  color:#f3f3f3;
  padding: 5px 15px;
  cursor: pointer;
}
h1{
  color:#f3f3f3;
}
/* designing the city weather data */
.cityWeatherData {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}


p:nth-child(even){
  color:#38bdf8;
}

/* table Component*/
.table-comp{
  /* background-color: #bfdbfe; */
  background-color: #242B2E;
  width:800px;
  color:#CAD5E2;;
  border-radius:20px;
  height: 50vh;
  overflow: scroll;
  padding: 10px;
}
table{
  border-spacing: 20px;
}