/* css reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* justify-content: center; */
  background-color: black;
  color:#f3f3f3;
  font-family:'helvetica';
}

/* designing the weather app container */
.container {

  width: 600px;
  border: 2px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 15px;
  border-radius: 20px;
  margin-top:50px;
  box-shadow: 0 0 20px #242B2E;

}
h1{
  color: #5DA3FA;
}
/* designing the search area */
.searchData {
  border: 1px solid black;
}

.searchData input {
  border: 1px solid white;
  padding: 5px;
  background-color:black;
  color:#5DA3FA;
  font-weight: bold;
}

.searchData button {
  border: 1px solid white;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5%;
  background-color:black;
  color:#5DA3FA;
}

/* designing the city weather data */
.cityWeatherData {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

p:nth-child(odd){
  color:#5DA3FA;
}
p:nth-child(even){
  color:#CAD5E2;
}


/* Past Info */
.pastInfo{
  /* width:680px; */
  margin:25%;
  margin-top:70px ;
  padding:20px;
  background-color: #242B2E;
  color:#CAD5E2;
  border-radius: 0%;
  border: 1px solid #f3f3f3;
  /* height: 1000px; */
  display:block;
  /* overflow: scroll; */
 

}
table{
  border-spacing: 10px;
  /* width:100%; */
  overflow: scroll;
}
/* 
tr{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  text-align: center;
  gap:40px;
  width:100%;
  margin-bottom: 20px;
}  */




