 header{
    background-image: url('./Project 3- Gaming Landing Page/Assets/Photos/futuristic-bg.png');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    width:100%;
} 

.background-image{
    background-image:url('./Project 3- Gaming Landing Page/Assets/Photos/Rectangle 606.png');
    height:350px;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}